{{define "index-view"}}

    {{template "header" "Messages"}}

    <main>
        {{if .Errors}}
            {{template "error-list" .Errors}}
        {{end}}

        <div>
            <h1>
                Messages
            </h1>

            {{template "message-list" .Messages}}
        </div>

        <div>
            <h2>
                Write a message
            </h2>

            <form method="POST">
                <input type="text" name="message">

                <button type="submit">Send</button>
            </form>
        </div>
    </main>

    {{template "footer"}}

{{end}}
