{{define "message-list"}}
    {{$messages := .}}

    {{if not $messages}}
        No messages to show, try writing one!
    {{else}}
        <ul>
            {{range $message := $messages}}
                <li>{{$message }}</i>
            {{end}}
        </ul>
    {{end}}
{{end}}
